In [1]:
from storeSalesUtils.dataloading import load_stores

import pandas as pd
import numpy as np
import os
from glob import glob
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
stores = load_stores()
print(stores.shape)
stores.head()

(54, 5)

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

Basic counts:

In [7]:
for col in ['city', 'state', 'type', 'cluster']:
    print(stores[col].value_counts(),'\n')

Quito            18
Guayaquil         8
Cuenca            3
Santo Domingo     3
Manta             2
Latacunga         2
Machala           2
Ambato            2
Quevedo           1
Esmeraldas        1
Loja              1
Libertad          1
Playas            1
Daule             1
Babahoyo          1
Salinas           1
Puyo              1
Guaranda          1
Ibarra            1
Riobamba          1
Cayambe           1
El Carmen         1
Name: city, dtype: int64

Pichincha                         19
Guayas                            11
Santo Domingo de los Tsachilas     3
Azuay                              3
Manabi                             3
Cotopaxi                           2
Tungurahua                         2
Los Rios                           2
El Oro                             2
Chimborazo                         1
Imbabura                           1
Bolivar                            1
Pastaza                            1
Santa Elena                        1
Loja                               1
Esmeraldas                         1
Name: state, dtype: int64

D    18
C    15
A     9
B     8
E     4
Name: type, dtype: int64

3     7
6     6
10    6
15    5
13    4
14    4
11    3
4     3
8     3
1     3
9     2
7     2
2     2
12    1
5     1
16    1
17    1
Name: cluster, dtype: int64

In [8]:
stores[stores.cluster==3]

    store_nbr           city                           state type  cluster
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
29         30      Guayaquil                          Guayas    C        3
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
34         35         Playas                          Guayas    C        3
39         40        Machala                          El Oro    C        3
53         54      El Carmen                          Manabi    C        3

In [10]:
stores[stores.cluster==6]

    store_nbr           city                           state type  cluster
8           9          Quito                       Pichincha    B        6
10         11        Cayambe                       Pichincha    B        6
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
33         34      Guayaquil                          Guayas    B        6
38         39         Cuenca                           Azuay    B        6

From this information only, it is hard to get any useful information. But these file will help us in feature engineering tasks.

In [14]:
# by population (Wiki)
biggest_cities = ['Guayaquil', 'Quito', 'Cuenca']
# I think stores in big cities will be inherently different than the smaller ones
stores[stores.city.isin(biggest_cities)]

    store_nbr       city      state type  cluster
0           1      Quito  Pichincha    D       13
1           2      Quito  Pichincha    D       13
2           3      Quito  Pichincha    D        8
3           4      Quito  Pichincha    D        9
5           6      Quito  Pichincha    D       13
6           7      Quito  Pichincha    D        8
7           8      Quito  Pichincha    D        8
8           9      Quito  Pichincha    B        6
9          10      Quito  Pichincha    C       15
16         17      Quito  Pichincha    C       12
17         18      Quito  Pichincha    B       16
19         20      Quito  Pichincha    B        6
23         24  Guayaquil     Guayas    D        1
25         26  Guayaquil     Guayas    D       10
27         28  Guayaquil     Guayas    E       10
28         29  Guayaquil     Guayas    E       10
29         30  Guayaquil     Guayas    C        3
31         32  Guayaquil     Guayas    C        3
33         34  Guayaquil     Guayas    B        6
36         37     Cuenca      Azuay    D        2
38         39     Cuenca      Azuay    B        6
41         42     Cuenca      Azuay    D        2
43         44      Quito  Pichincha    A        5
44         45      Quito  Pichincha    A       11
45         46      Quito  Pichincha    A       14
46         47      Quito  Pichincha    A       14
47         48      Quito  Pichincha    A       14
48         49      Quito  Pichincha    A       11
50         51  Guayaquil     Guayas    A       17